---
layout: layout.njk
pagination:
  data: inboxes
  size: 1
  alias: inbox
permalink: "{{ inbox.name | slug }}.html"
---
<ul role="navigation" class="breadcrumb">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="current">
    {{ inbox.name }}
  </li>
</ul>

<h1>Inbox {{ inbox.name }}</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody></tbody>
  {% for message in inbox.messages %}
    <tr>
      <td>
        <a href="messages/{{message.id}}.html">{{message.top.created_at | date}}</a>
      </td>
      <td>{{message.top._author.name}}</td>
      <td>{{message.top.subject}}
        {{message.id}}</td>
    </li>
  {% endfor %}
</ul>