<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
        margin: 0;
        font-size: 20px;
        line-height: 2rem;
      }
      .container {
        max-width: 1000px;
        margin: 0 auto;
      }

      .message {
        border: 1px solid grey;
        margin: 1rem 0;
      }

      .message .body {
        padding: 1rem;
      }

      .message.comment {
        background: lightgray;
        border: none;
      }

      .message .from {
        padding: 1rem;
        border-bottom: 1px solid grey;
      }

      .breadcrumb {
        list-style-type: none;
        margin: 1rem 0 2rem;
        padding: 0;
      }

      .breadcrumb li {
        display: inline-block;
        margin-right: 1.5rem;
      }

      .breadcrumb li:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{ content | safe }}
    </div>
  </body>
</html>